<!-- Header of a post -->
<div class="post-preview-part1">
    {% set category_id = post.getIdCategory %}
    {% set category = categories[ category_id] %}
    {% set nb_comment = (post.getIId in commentInfos|keys)?commentInfos[post.getIId]:0 %}
    {% set msg = (nb_comment == 0)?'Laisser un message': (nb_comment == 1)?(nb_comment ~ ' commentaire'):(nb_comment ~ ' commentaires') %}
    <span class="category-info">{{ category.getSName }}</span>
    <a href="{{ path('post', {'id': post.getIId}) }}">
        <h2 class="post-title">{{ post.getSTitle }}</h2>
    </a>
    <ul class="post-meta">
        <li>
            {{ post.getCreationDate }}
        </li>
        <li>
            {{ author.getWebName }}
        </li>
        <li>
            {{ msg }}
        </li>
    </ul>
</div>