{% extends 'base-backend.html.twig' %}

{% block title %}Post: mode édition{% endblock %}

{% block css %}
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Bootstrap validator CSS -->
    <link href='https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.css' rel='stylesheet' type='text/css'>
    <!-- Theme CSS -->
    <link href="{{ asset('/css/writerblog-backend.css') }}" rel="stylesheet">
    <link href="{{ asset('/css/writerblog-admin-backend.css') }}" rel="stylesheet">
{% endblock %}

{% block jsTop %}
    <!-- Bootstrap validator JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.js"></script>
    <!-- TinyMCE Javascript -->
    <script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>
    <script src="{{ asset('/js/initTinyMCE.js') }}"></script>
{% endblock %}

{% block js %}
    <!-- Personal JavaScript -->
    <script src="{{ asset('/js/browse.js') }}"></script>
{% endblock %}

{% block pageHeader %}Post: mode édition{% endblock %}

{% block pageContent %}
    <div class="row">
        <div class=" col-lg-12 col-md-12">

            <form class="form-group-lg post-form" name="editForm" id="editForm" method="post" action="{{ path('update_post') }}">
                <div class="form-group row">
                    <div class="col-lg-12">
                        <input id="titlePost" name="titlePost" class="form-control" type="text" value="{{ post.getSTitle }}" placeholder="Entrer le titre du Post" required>
                        <input name="post_id" type="hidden" value="{{ post.getIId }}">
                    </div>
                </div>

                {% include 'sections/category_section.html.twig' %}

                <div class="form-row-group row">
                    <div class="col-md-2">
                        <h4><label class="text-primary">Status</label></h4>
                    </div>
                    <div class="col-md-5 btn-group btn-toggle">
                        {% set isPublished = (post.getEStatus == 'published') %}
                        <button class="btn {{ (isPublished == true)?'active btn-success':'btn-default' }}" type="button"><i class="fa fa-lg fa-eye"></i> Publier</button>
                        <button class="btn {{ (isPublished == false)?'active btn-success':'btn-default' }}" type="button"><i class="fa fa-lg fa-eye-slash"></i> Ne pas publier</button>
                    </div>
                    <div class="col-md-5">
                        <button id="deleteBtn" name="deleteBtn" class="btn btn-primary border-radius-btn" type="button">
                            <i class="fa fa-lg fa-trash"></i> Supprimer
                        </button>
                    </div>
                </div>

                <div class="form-row-group row">
                    <div class="col-lg-12">
                        <textarea id="content" name="content">
                        {{ post.getSContent }}
                        </textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-xs-4 ">
                        <button id="saveBtn" type="submit" class="btn btn-block btn-primary border-radius-btn">Sauvegarder</button>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-xs-4 ">
                        <button id="cancelBtn" type="button" class="btn btn-default border-radius-btn">Annuler</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /.row -->
{% endblock %}
