{% extends 'base-backend.html.twig' %}

{% block title %}Nouveau Post{% endblock %}

{% block css %}
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Bootstrap validator CSS -->
    <link href='https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.css' rel='stylesheet' type='text/css'>
    <!-- Theme CSS -->
    <link href="{{ asset('/css/writerblog-backend.css') }}" rel="stylesheet">
    <link href="{{ asset('/css/writerblog-admin-backend.css') }}" rel="stylesheet">
{% endblock %}

{% block jsTop %}
    <!-- Bootstrap validator JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.js"></script>
{% endblock %}

{% block js %}
    <!-- Personal JavaScript -->
    <script src="{{ asset('/js/browse.js') }}"></script>
{% endblock %}

{% block pageHeader %}Nouveau Post{% endblock %}

{% block pageContent %}
    <div class="row">
        <div class="center-me col-lg-offset-1 col-lg-10 col-lg-offset-1 col-md-12">

            <form class="form-group-lg post-form login-form-width" name="newPostForm" id="newPostForm" method="post" action="{{ path('create_post') }}">
                <div class="form-group row">
                    <div class="col-lg-12">
                        <input id="titlePost" name="titlePost" class="form-control" type="text" placeholder="Entrer le titre du Post" required>
                    </div>
                </div>

                {% include 'sections/category_section.html.twig' %}

                <div class="row">
                    <div class="input-group col-lg-push-2 col-lg-6 col-sm-12 col-xs-offset-1 col-xs-10 col-xs-offset-1">
                        <button id="createBtn" type="submit" class="btn input-lg btn-block btn-primary border-radius-btn">Créer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /.row -->
{% endblock %}
